th {
  background-color: rgba(130, 0, 130, 0.281);
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

th svg {
  visibility: hidden;
  margin-left: 5px;
}

th:hover {
  background-color: rgba(130, 0, 130, 0.904);
}

th:hover svg {
  visibility: visible;
}


